<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: whitesmoke; padding: 15px;">
        <p style="color: #666; text-align: center;"><%= subject.Subject %></p>
        <p style="color: #666; text-align: center;"><%= message.msg %></p>
        <a href="<%= verificationLink %>" style="display: block; width: 200px; margin: 20px auto; background-color: #007bff; color: #fff; text-align: center; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Verify Email</a>
    </div>
</body>
</html>